.desconto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--cor-bege);
    font-family: var(--font-noto-sans);
}

.desconto__descricao {
    margin: 2.5rem 0 2rem;
    font-size: 1.2rem;
    line-height: 23px;
    max-width: 326px;
}

.desconto__descricao b {
    color: var(--verde-agua);
    font-weight: 700;
}

.desconto__informativo {
    display: flex;
    min-width: 220px;
    min-height: 141.94px;
    max-width: 220px;
    max-height: 141.94px;
    background: var(--azul-marinho-envelhecido);
    box-shadow: 12px 15px 4px var(--amarelo-sombra);
    border-radius: 20px;
    /* margin-bottom: 2.5rem; */
    font-size: 1.1rem;
}

.desconto__informativo p {
    padding: 2rem;
    text-align: center;
    margin: auto;
    line-height: 23px;
}

.desconto__b_white {
    color: var(--branco);
    font-weight: 800;
    display: block;
    font-size: 1.4rem;
}

.desconto__b_green {
    color: var(--verde-agua);
    font-weight: 800;
}

.desconto__informativo:nth-child(even) {
    color: var(--verde-agua);
}

.desconto__informativo:nth-child(odd) {
    color: var(--branco);
}

@media screen and (min-width: 768px) {
    .desconto {
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        /* padding-bottom: 0.5rem; */
    }

    .desconto__descricao {
        text-align: left;
        max-width: 203px;
        padding-bottom: 1.7rem;
    }

    .desconto__informativo {
        min-width: 190px;
        min-height: 122.58px;
        max-width: 190px;
        max-height: 122.58px;
        
    }

    .desconto__informativo p {
        font-size: 1rem;
        padding: 1rem;
    }
    
    .desconto__b_white {
        font-size: 1.2rem;
    }

    .desconto__b_green {
        font-size: 1rem;
    }
}