.sobre__nos {
    display: flex;
    font-family: var(--font-noto-sans);
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.sobre__nos_missao {
    font-style: italic;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 35px;
}

.sobre__nos_localizada {
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 23px;
    max-width: 470px;
}

.sobre__nos_lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre__nos_diferenciais p{
    line-height: 23px;
    padding-top: 2rem;
    max-width: 470px;
}

.sobre__nos_flor {
    background-image: url(../img/diferenciais-flor-de-lotus.png);
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: center 0%;
    margin: 1.5rem;
}